In [ ]:
"""
Flood Report Street Frequency Analysis

Loads raw street names and raw flood reports from a CSV file, Uses regex to normalize text (removes common street abbreviations, removes
punctuation, and lowercases data), and tallies incidence of street flooding to help identify the most flood-prone areas within data.
"""

import re
from collections import Counter
import pandas as pd

In [19]:
def normalize_data(data: str) -> str:
    """
    Normalizes a Street Name or Report String.
    - Lowercase
    - Remove Punctuation
    - Strip Common Street Suffixes
    - Strip Whitespace

    Args:
    data (str): Input string.

    Returns:
    str: Normalized string.
    """
    if pd.isna(data):
        return ""
    
    data = data.lower()
    data = re.sub(r"[^\w\s]", "", data)
    data = re.sub(r"\b(ave|blvd|ct|dr|ln|pkwy|pl|rd|st)\b", "", data)
    return data.strip()

In [ ]:
def count_street_mentions(csv_path: str, str_col: str, rep_col: str) -> pd.DataFrame:
    """
    Counts how many times each normalized street appears in normalized reports.

    Args:
    csv_path (str): Path to CSV file containing raw street and report columns.

    Returns:
    pd.DataFrame: Table of streets with their mention frequencies.
    """
    # Load dataset
    df = pd.read_csv(csv_path)

    # Build dictionary: normalized -> original
    street_map = {
        normalize_data(street): street
        for street in df[str_col].dropna().unique()
    }

    # Normalize columns
    streets = df[str_col].dropna().apply(normalize_data).tolist()
    reports = df[rep_col].dropna().apply(normalize_data).tolist()

    # Count mentions
    counts = Counter()
    for report in reports:
        for street in streets: 
            if re.search(rf"\b{re.escape(street)}\b", report):
             counts[street] += 1

    # Convert results to DataFrame
    results = pd.DataFrame(counts.items(), columns=["Street_Normalized", "Frequency"])
    results = results.sort_values(by="Frequency", ascending=False).reset_index(drop=True)

    # Add back original names using dictionary
    results["Street"] = results["Street_Normalized"].map(street_map)
    
    return results

In [ ]:
if __name__ == "__main__":
    results = count_street_mentions("Luling_Demo.csv", "LULING STREETS", "LULING REPORTS")
    print("Flood Event Mentions by Street:")
    print(results.to_string(index=False))

Flood Event Mentions by Street (Ranked):
Street_Normalized  Frequency                 Street
           barton         99             BARTON AVE
         monsanto         54           MONSANTO AVE
         lakewood         46            LAKEWOOD DR
             wade         42                WADE ST
            river         42               RIVER RD
          milling         35            MILLING AVE
              oak         28                 OAK LN
              ivy         28                 IVY LN
             post         28                POST DR
            davis         25               DAVIS DR
           mimosa         21             MIMOSA AVE
           kinler         20              KINLER ST
       willowdale         18        WILLOWDALE BLVD
        courville         17           COURVILLE DR
             west         15                WEST CT
       santa cruz         14          SANTA CRUZ CT
         maryland         14            MARYLAND DR
           desoto         13              DESOTO DR
         chestnut         12            CHESTNUT PL
            wanda         12               WANDA ST
            canal         12               CANAL ST
           gassen         12              GASSEN ST
             john         11            ST. JOHN ST
           talbot         11              TALBOT DR
   paul frederick         11      PAUL FREDERICK DR
            cross         11               CROSS ST
        ellington         10          ELLINGTON AVE
    paul maillard         10       PAUL MAILLARD RD
            court          9               COURT ST
            celia          9               CELIA DR
             east          8                EAST CT
           marcia          8              MARCIA DR
         bradwall          7            BRADWALL ST
           ashton          7              ASHTON RD
           hwy 90          7                 HWY 90
         coronado          7            CORONADO DR
            birch          6               BIRCH ST
      willowridge          6         WILLOWRIDGE DR
          charles          6       ST. CHARLES BLVD
       river oaks          6          RIVER OAKS DR
        w heather          5           W HEATHER DR
          michael          5             MICHAEL DR
         valencia          5            VALENCIA DR
           evelyn          5              EVELYN DR
       sugarhouse          5          SUGARHOUSE RD
              6th          4                 6TH ST
         w levert          4            W LEVERT DR
         primrose          4            PRIMROSE DR
ashton plantation          4 ASHTON PLANTATION BLVD
        hackberry          4           HACKBERRY ST
         nicholas          3        ST. NICHOLAS ST
            terri          3               TERRI DR
             hall          3                HALL ST
          collier          3             COLLIER DR
          cypress          3             CYPRESS DR
        lone star          3           LONE STAR DR
           estate          3              ESTATE DR
            loupe          3               LOUPE ST
          kellogg          3             KELLOGG DR
          anthony          2         ST. ANTHONY ST
              4th          2                 4TH ST
          albania          2             ALBANIA DR
            apple          2               APPLE CT
            sings          2               SINGS LN
          bernice          2             BERNICE DR
        apartment          2           APARTMENT DR
            diane          2               DIANE DR
          sellers          2            SELLERS AVE
         magnolia          2            MAGNOLIA CT
            maria          2           ST. MARIA ST
         asphodel          2            ASPHODEL DR
             ford          2                FORD LN
              elm          2                 ELM PL
        arlington          2           ARLINGTON DR
  louis the first          2     LOUIS THE FIRST ST
           walnut          2              WALNUT PL
             lori          2                LORI CT
              3rd          2                 3RD ST
             fern          2                FERN DR
           laurel          1              LAUREL CT
         hawthorn          1            HAWTHORN DR
           perryl          1              PERRYL LN
          choctaw          1             CHOCTAW DR
           tupelo          1              TUPELO CT
         roseland          1            ROSELAND DR
          beaupre          1             BEAUPRE DR
         live oak          1            LIVE OAK LN
            cathy          1               CATHY DR
            david          1               DAVID CT
        christina          1           CHRISTINA CT
           roland          1              ROLAND CT
           azalea          1              AZALEA CT
        lagattuta          1          LAGATTUTA AVE
             palm          1                PALM PL
            lauve          1               LAUVE LN
         e levert          1            E LEVERT DR
             nola          1                NOLA ST
        evergreen          1           EVERGREEN CT
          mongrue          1             MONGRUE ST
            n oak          1               N OAK CT
             penn          1                PENN ST
          ashland          1             ASHLAND DR
              5th          1                 5TH ST
     lac felicity          1        LAC FELICITY DR
           school          1              SCHOOL ST
          queenie          1             QUEENIE DR
           bocage          1              BOCAGE DR
             easy          1                EASY ST
              1st          1                 1ST ST
           sheila          1              SHEILA CT
            jones          1               JONES LN